* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    background-color: rgb(193, 243, 226);
    align-items: center;
}

.container-father {
    display: grid;
    gap: 32px;
    grid-template-columns: repeat(4, 250px);
    margin: 0 auto;
    height: auto;
    justify-content: center;
}

.container-father>.container-son-one {
    background-color: rgb(100, 48, 159);
    grid-column-start: 1;
    grid-column-end: 3;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 5px 5px 5px rgb(89, 88, 88);
}

.container-father>.container-son-five {
    background-color: white;
    grid-row-start: 2;
    grid-row-end: 3;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 5px 5px 5px rgb(89, 88, 88);
}

.container-father>.container-son-two {
    background-color: darkslategrey;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 5px 5px 5px rgb(89, 88, 88);
}

.container-father>.container-son-four {
    background-color: rgb(12, 9, 45);
    grid-column-start: -4;
    grid-column-end: -2;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 5px 5px 5px rgb(89, 88, 88);
}

.container-father>.container-son-three {
    background-color: whitesmoke;
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: -1;
    border-radius: 15px;
    box-shadow: 5px 5px 5px rgb(89, 88, 88);
    padding: 20px;
}

.container-title-son-men {
    color: beige;
}

.container-title-son-woman {
    color: rgb(3, 3, 50);
}

.container-title-son-men>span {
    color: rgba(162, 153, 153, 0.791);
}

.container-title-son-woman>span {
    color: rgb(5, 5, 52);
}

.son-men {
    color: white;
}

.son-woman {
    color: rgb(1, 1, 36);
}

.men {
    color: rgba(162, 153, 153, 0.791);
    ;
}

.woman {
    color: rgb(106, 99, 99);
}